:root {
  --primary: #facc15;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

#cart, #home {
  color: #fff;
  font-size: 24px;
  margin-left: 16px;
  transition: 0.3s;
  display: inline-flex;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  padding-top: 76px;
}

.navbar-brand span {
  color: var(--primary);
}

.menu-page {
  background-color: #010101;
  min-height: 100vh;
  padding-top: 120px;
}

.category-title {
  color: #facc15;
  font-weight: bold;
  margin-bottom: 25px;
  border-left: 5px solid #facc15;
  padding-left: 15px;
}

.menu-page .card {
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
}

.menu-page .card:hover {
  transform: translateY(-10px);
}

.menu-page .card-img-top {
  height: 300px;
  object-fit: cover;
}

.menu-page .btn-warning {
  font-weight: 600;
}